section {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    background: #ddd;
    padding: 50px;
}

.answerBtn {
    display: block;
    width: 250px;
    height: 40px;

    margin: 25px auto;
    border: 3px solid black;

    text-align: center;
}

.answerImg {
    height: 300px;
    margin: 0 auto;
    padding: 25px;

    display: block;
}