body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

header {
    padding: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

section {
    width: 600px;
    height: 450px;
    margin: 30px auto;
    background: #333;
    color: #ddd;
    border: 3px solid black;
    padding: 30px 40px;
}

button {
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;

    margin: 15px auto;
    display: block;
}

.startBtn {
    margin-top: 160px;

    height: 100px;
    width: 150px;

    font-size: 40px;
    font-weight: bold;
}


.question {
    text-align: center;
    font-size: 24px;

    margin: 25px 0 50px;
}

.answerBtn {
    width: 250px;
    height: 40px;
}

.timerDiv {
    display: block;
    margin: 0 auto;
    width: max-content;
    padding: 10px;

    text-align: center;
}

.feedback {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    width: max-content;
    margin: 0 auto;
}

.correct {
    color: #44ff44;
}

.incorrect, .timeout {
    color: #ff4444;
}

.answerImg {
    height: 250px;
    margin: 20px auto;
    border: 3px solid black;
    padding: 10px;

    background: #ddd;

    display: block;
}

.score {
    display: block;
    margin: 80px auto 40px;
    width: max-content;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
}

.resetBtn {
    font-size: 30px;
    width: max-content;
}

